html,


:root {
  --white: #fff;
  --lightGray: #d6e2f0;
  --grayish: #7b879d;
  --darkBlue: #1f3251;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: var(--lightGray);
  font-family: 'Outfit', sans-serif;
}
